* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url(../images/maxO_TVsaeZNlEunsplashmin2.jpg);
    background-position: 0px 80px;
    background-repeat: no-repeat;
}

header {
    height: 80px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.data-content {
    min-width: 350px;
    max-width: 1130px;
    margin: auto;
    height: 100%;
}

.box-section .box-content {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-titles {
    margin: 0px 30px;
}

.box-titles .subtitle {
    font-size: 2rem;
}

.box-titles .title {
    font-size: 4rem;
}

.box-titles hr {
    height: 8px;
    width: 80%;
    background-color: white;
    border: 0;
}

.box-section {
    height: 800px;
}

.box-section .data-content {
    display: flex;
    justify-content: right;
}

/** section de cards start **/

.section-cards {
    background-color: rgba(0, 217, 255, 0.438);
    height: 270px;
    width: 100%;
}

.content-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    top: -85px;
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color: white;
}

.card button {
    border: 1px solid aqua;
    background-color: transparent;
    height: 50px;
    width: 100px;
    font-size: 14px;
}

/** section de cards end **/

/** primeira section start **/

.primeira-section {
    background-color: white;
    height: 800px;
    padding: 60px 0px;
}

.primeira-section .data-content {
    display: flex;
    justify-content: space-between;
}

.primeira-section .data-left {
    height: 100%;
    width: 40%;
}

.primeira-section .data-right {
    height: 100%;
    width: 55%;
}

.primeira-section p {
    font-size: 20px;
}

.primeira-section a {
    color: #33bdd8;
    font-weight: bold;
}

.primeira-section .data-right h1 {
    color: #33bdd8;
    font-size: 3em;
    margin-top: 20px;
}

/** primeira section end **/

/** segunda section start **/

.segunda-section {
    background-color: #292D33;
    height: 400px;
    padding: 60px 0px;
    color: white;
}

.segunda-section .data-content .data-left {
    width: 40%;
}

.segunda-section .data-content .data-right {
    width: 55%;
}

.segunda-section .data-content {
    display: flex;
    justify-content: space-between;
}

.segunda-section .subtitle {
    margin-top: 60px;
    text-align: center;
    color: gray;
}

.segunda-section .title {
    text-align: center;
    color: #33bdd8;
    font-size: 2em;
}

.segunda-section .details {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.segunda-section .detail-item {
    width: 30%;
}

.segunda-section .detail-item h1 {
    font-size: 2.2em;
    margin-left: 15px;
}

/** segunda section end **/