* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url(../images/maxO_TVsaeZNlEunsplashmin2.jpg);
    background-position: 0px 80px;
    background-repeat: no-repeat;
}

header {
    height: 80px;
    background-color: #292D33;
}

header h2 {
    color: white;
    margin-left: 300px;       
}

.logo {
    display: flex;
    align-items: center;
}

.data-content {
    min-width: 350px;
    width: 1130px;
    margin: auto;
    height: 100%;
}

.box-section .box-content {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-titles {
    margin: 0px 30px;
}

.box-titles .subtitle {
    font-size: 2rem;
}

.box-titles .title {
    font-size: 4rem;
}

.box-titles hr {
    height: 8px;
    width: 80%;
    background-color: white;
    border: 0;
}

.box-section {
    height: 800px;
}

.box-section .data-content {
    display: flex;
    justify-content: right;
}

/** section de cards start **/

.section-cards {
    /* background-color: rgba(0, 217, 255, 0.438); */
    height: 270px;
    width: 100%;
}

.content-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    top: -85px;
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.card p {
    height: 100px;
}

.card button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #292D33;
    height: 50px;
    width: 100px;
    font-size: 1em;
    cursor: pointer;
}

/** section de cards end **/

/** primeira section start **/

.primeira-section {
    background-color: white;
    height: 800px;
    padding-top: 60px;
}

.primeira-section .data-content {
    display: flex;
    justify-content: space-between;
}

.primeira-section .data-left {
    height: 100%;
    width: 40%;
}

.primeira-section .data-right {
    height: 100%;
    width: 55%;
}

.primeira-section p {
    font-size: 20px;
}

.primeira-section a {
    color: #33bdd8;
    font-weight: bold;
}

.primeira-section .data-right h1 {
    color: #33bdd8;
    font-size: 3em;
    margin-top: 20px;
}

/** primeira section end **/

/** segunda section start **/

.segunda-section {
    background-color: #292D33;
    height: 400px;
    padding: 60px 0px;
    color: white;
}

.segunda-section .data-content {
    display: flex;
    justify-content: space-between;
}

.segunda-section .data-content .data-left {
    width: 40%;
}

.segunda-section .data-content .data-left img {
    height: 100%;
}

.segunda-section .data-content .data-right {
    width: 55%;
}

.segunda-section .subtitle {
    margin-top: 60px;
    text-align: center;
    color: gray;
}

.segunda-section .title {
    text-align: center;
    color: #33bdd8;
    font-size: 2em;
}

.segunda-section .details {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.segunda-section .detail-item {
    width: 30%;
}

.segunda-section .detail-item h1 {
    font-size: 2.2em;
    text-align: center;
}

.segunda-section .detail-item p {
    text-align: center;
}

/** segunda section end **/

/** media query responsiva start **/

@media (max-width: 1150px) {
    
    body {
        background: url(../images/maxO_TVsaeZNlEunsplashmin2.jpg);
        background-position: -300px 80px;
        background-repeat: no-repeat;
    }

    header .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo h2{
        font-size: 1em;
        color: white;
        margin-top: 5px;
        margin-left: 20px;
    }


    .box-section {
        height: 700px;
    }

    .box-section .box-content .box-titles h1 {
        text-shadow: 3px 3px black
    }
    
    .data-content {
        max-width: 350px;
        margin: auto;
        height: 100%;
    }

    .section-cards {
        height: 100%;
        background-color: #292D33;
    }

    .section-cards .content-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-cards .card {
        top: 0;
        height: 200px;
        border: 1px solid #292D33;
        border-radius: 5px;
        margin: 10px;
    }

    .primeira-section {
        margin: 30px 0px;
        height: 100%;
        padding: 0px;
    }

    .primeira-section .data-content {
        display: block;
        width: 100%;
    }

    .primeira-section .data-content .data-left {
        width: 100%;
    }

    .primeira-section .data-content .data-left img {
        border: 8px solid #33bdd8;
    }

    .primeira-section .data-content .data-right {
        width: 100%;
    }

    .segunda-section {
        height: 100%;
    }

    .segunda-section .data-content {
        display: flex;
    }

    .segunda-section .data-content .data-left {
        width: 300px;
        display: none;
    }

    .segunda-section .data-content .data-left {
        width: 40%;
    }
    
    .segunda-section .data-content .data-right {
        width: 100%;
    }

    .segunda-section .subtitle {
        margin-top: 0px;
    }
}

/** media query responsiva end **/